:root {
  --PrimaryColor: rgb(0, 208, 255);
  --BackgroundColor: rgb(44, 44, 44);
  --ContainerColor: rgb(65, 65, 65);
  --HeaderColor: rgba(22, 22, 22, .9);
}

* {
  font-family: "Calibri", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

body {
  background: var(--BackgroundColor);
  color: white;
}

header {
  background: var(--HeaderColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0px;
}

#logo {
  width: 500px;
  max-width: 100%;
  height: auto;
  margin: auto;
}

a {
  text-decoration: none; 
  color: var(--PrimaryColor);
}

a:focus {
  border-bottom: 2px solid;
  border-color: var(--PrimaryColor);
}

#about-me {
  display: flex;
  padding: 30px;
  background: linear-gradient(var(--ContainerColor), var(--HeaderColor));
  border: 1px solid var(--PrimaryColor);
  align-items: center;
}

#headshot {
  margin: 10px;
  height: auto;
  width: 300px;
  max-width: 100%;
  max-height: 300px;
  box-shadow: 0px 10px 10px 0px var(--HeaderColor);
}

#bio {
  margin: 10px;
  line-height: 40px;
}

.projects {
  background: linear-gradient(var(--ContainerColor), var(--HeaderColor));
  border: 1px solid var(--PrimaryColor);
  min-height: 625px;
}

.project-images {
  width: 100%;
  height: 250px;
}

.projects:hover {
  transform: scale(1.1);
}

.card-title a {
  font-size: 32px;
  text-decoration: underline;
}

.card-subtitle {
  color: var(--PrimaryColor)
}

#form-container {
  background-color: var(--ContainerColor);
  border: 1px solid var(--PrimaryColor);
  border-radius: 7px;
  padding-bottom: 30px;
}

#submit-button-container {
  text-align: center;
}

#submitBtn, #resumeBtn {
  color: var(--PrimaryColor);
  background: linear-gradient(var(--ContainerColor), var(--HeaderColor));
  border: 1px solid var(--PrimaryColor);
}

#submitBtn:hover, #resumeBtn:hover {
  color: var(--HeaderColor);
  background: var(--PrimaryColor);
  border: 1px solid var(--HeaderColor);
}

#submitBtn:active {
  color: var(--PrimaryColor);
  background: var(--HeaderColor);
  border: 1px solid var(--PrimaryColor);
}

#email-phone-container {
  display: flex;
  justify-content: center;
}

#resume-container {
  background: linear-gradient(var(--ContainerColor), var(--HeaderColor));
  border: 1px solid var(--PrimaryColor);
  border-radius: 7px;
  min-height: 450px;
  width: 75%;
  max-width: 100%;
  text-align: center;
}

#skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills {
  width: 150px;
  height: 150px;
  padding: 10px;
}

.skills img {
  width: 100px;
}

/* 

#resume-image {
  height: 300px;
  max-height: 100%;
}

#resume-image:hover {
  transform: scale(1.1);
}

#resume-download {
  transform: scale(3);
} */

footer div {
  font-size: 48px;
  display: flex;
  justify-content: center;
}

footer a {
  color: var(--PrimaryColor);
  margin: 10px 20px;
  transition: all .3s ease-in-out;
  transform: scale(2);
}

footer a:hover {
  transform: scale(3);
}

footer p {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

@media only screen and (max-width: 780px) {
  #about-me {
    display: block;
  }

  #headshot {
    margin: 0 0 20px 0;
  }
}

@media only screen and (max-width: 540px) {
  #email-phone-container {
    display: block;
    text-align: center;
  }

}

@media only screen and (max-width: 410px) {
  .navbar-link {
    display: block;
    text-align: center;
  }
}