:root {
  --PrimaryColor: rgb(0, 208, 255);
  --BackgroundColor: rgb(44, 44, 44);
  --ContainerColor: rgb(65, 65, 65);
  --HeaderColor: rgba(22, 22, 22, .9);
}

* {
  font-family: "Calibri", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

body {
  background: var(--BackgroundColor);
  color: white;
}

header {
  background: var(--HeaderColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0px;
}

a {
  text-decoration: none; 
  color: var(--PrimaryColor);
}

.projects {
  background: var(--ContainerColor)
}

.project-links {
  display: flex;
}

.project-images {
  height: 264px;
  width: 264px;
}


#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font: 15px;
  color: var(--PrimaryColor)
}