:root {
  --PrimaryColor: rgb(0, 208, 255);
  --BackgroundColor: rgb(44, 44, 44);
  --ContainerColor: rgb(65, 65, 65);
  --HeaderColor: rgba(22, 22, 22, .9);
}

* {
  font-family: "Calibri", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 22px;
}

body {
  background: var(--BackgroundColor);
  color: white;
}

header {
  background: var(--HeaderColor);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0px;
}

#logo {
  max-width: 100%;
  height: auto;
  margin: auto;
}

a {
  text-decoration: none; 
  color: var(--PrimaryColor);
}

a:focus {
  border-bottom: 2px solid;
  border-color: var(--PrimaryColor);
}

#about-me {
  display: flex;
  padding: 30px;
  background: linear-gradient(var(--ContainerColor), var(--HeaderColor));
  border: 1px solid var(--PrimaryColor);
  align-items: center;
}

#headshot {
  margin: 10px;
  height: auto;
  width: 300px;
  max-width: 100%;
  max-height: 300px;
  box-shadow: 0px 10px 10px 0px var(--HeaderColor);
}

#bio {
  margin: 10px;
  line-height: 40px;
}

.projects {
  background: linear-gradient(var(--ContainerColor), var(--HeaderColor));
  border: 1px solid var(--PrimaryColor);
  /* height: 100%; */
}

.project-links {
  display: flex;
  justify-content: center;
}

.project-images {
  width: 100%;
  height: 250px;
}

.projects:hover {
  transform: scale(1.1);
}

#submitBtn {
  background-color: var(--PrimaryColor);
}

#footer {
  display: flex;
  justify-content: center;
  font: 15px;
  color: var(--PrimaryColor)
}

@media only screen and (max-width: 780px) {
  #about-me {
    display: block;
  }

  #headshot {
    margin: 0 0 20px 0;
  }
}